<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <base href="index.html">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Sigene 駅名標ジェネレーター</title>
        <link rel="icon" type="image/svg+xml" href="favicon.svg">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
            <div class="header-flex">
                <h1><!--<img src="logo_text_white.svg" alt="Sigene"> --><small>駅名標ジェネレーター</small></h1>
                <ul>
                    <li><a href="index.html">Top</a></li>
                    <li><a href="about/index.html">About</a></li>
                    <li><a href="contact/index.html">Contact</a></li>
                </ul>
            </div>
        </header>
        <section id="canvasArea">
            <canvas id="canvas1" width="2250" height="600"></canvas>
        </section>
        <section id="vm" class="form" v-cloak @change="update">
            <section class="row">
                <section>
                    <button @click="save">入力内容を保存</button>
                    <button @click="saveAsPNG">画像として保存</button>
                </section>
            </section>
            <section class="row">
                <section>
                    <h2>駅名標サイズ</h2>
                    <label>
                        <div class="label-text">幅</div>
                        <input v-model.number="size.width" type="number" step="10" min="0">mm
                    </label>
                    <label>
                        <div class="label-text">高さ</div>
                        <input v-model.number="size.height" type="number" step="10" min="0">mm
                    </label>
                </section>
                <section>
                    <h2>駅名標タイプ</h2>
                    <label>
                        <div class="label-text">タイプ</div>
                        <select v-model="signType">
                            <option value="jre-kanji">JR東日本 漢字主体</option>
                        </select>
                    </label>
                </section>
            </section>
            <section v-if="signType === 'jre-kanji'" class="row">
                <section>
                    <h2>駅名標設定</h2>
                    <label>
                        <div class="label-text">筐体タイプ</div>
                        <div class="input">
                            <select v-model="signBoard.type" @change="changeBoardType">
                                <option value="none">なし</option>
                                <option value="floure">蛍光灯型</option>
                                <option value="led">LED型</option>
                                <option value="nonLight">無電照型</option>
                            </select>
                        </div>
                    </label>
                    <label>
                        <input
                            type="checkbox"
                            v-model="signBoard.light"
                            :disabled="!enableBoardLight">
                        <span class="toggle"></span>
                        点灯する
                    </label>
                    <label>
                        <input
                            type="checkbox"
                            v-model="numbering">
                        <span class="toggle"></span>
                        ナンバリング・4ヶ国語表記
                    </label>
                    <label>
                        <input
                            type="checkbox"
                            v-model="branchRight">
                        <span class="toggle"></span>
                        右分岐
                    </label>
                    <label>
                        <input
                            type="checkbox"
                            v-model="branchLeft">
                        <span class="toggle"></span>
                        左分岐
                    </label>
                </section>
                <section>
                    <h2>駅名{{numbering? "・ナンバリング" : ""}}</h2>
                    <label>
                        <div class="label-text">駅名 日本語(漢字)</div>
                        <input
                            type="text"
                            v-model="sta.name.kanji">
                    </label>
                    <label>
                        <div class="label-text">駅名 英語(アルファベット)</div>
                        <input
                            type="text"
                            v-model="sta.name.english">
                        <div class="ex-input grid">
                            <div v-for="c in macrons" @click="sta.name.english += c">{{c}}</div>
                        </div>
                    </label>
                    <label>
                        <div class="label-text">駅名 日本語(ひらがな)</div>
                        <input
                            type="text"
                            v-model="sta.name.kana">
                    </label>
                    <label v-show="numbering">
                        <div class="label-text">駅名 中国語(簡体字)</div>
                        <input
                            type="text"
                            v-model="sta.name.chinese">
                        <div class="ex-input">
                            <a target="_blank" :href="'https://translate.google.com/?hl=ja#ja/zh-CN/' + encodeURIComponent(sta.name.kanji)">Google翻訳を開く</a>
                        </div>
                    </label>
                    <label v-show="numbering">
                        <div class="label-text">駅名 韓国語(ハングル)</div>
                        <input
                            type="text"
                            v-model="sta.name.korean">
                        <div class="ex-input">
                            <a target="_blank" :href="'https://translate.google.com/?hl=ja#ja/ko/' + encodeURIComponent(sta.name.kanji)">Google翻訳を開く</a>
                        </div>
                    </label>
                    <label v-show="numbering">
                        <input
                            type="checkbox"
                            v-model="sta.enableTlc">
                        <span class="toggle"></span>
                        スリーレターコードあり
                    </label>
                    <label v-show="numbering && sta.enableTlc">
                        <div class="label-text">スリーレターコード文字</div>
                        <input
                            type="text"
                            v-model="sta.tlc"
                            pattern="^[A-ZＡ-Ｚ]{3}$"
                            @input="sta.tlc = formatUppercase($event.target.value)">
                        <div class="invalid-message">アルファベット3文字で入力してください</div>
                    </label>
                    <button @click="sta.numberings.push({text: 'JX 00', color: '#006400'})" :disabled="2 <= sta.numberings.length">ナンバリングを追加</button>
                    <label v-for="(n, i) in sta.numberings" v-show="numbering">
                        <div class="label-text">ナンバリング{{i + 1}}</div>
                        <input
                            type="text"
                            v-model="n.text"
                            class="narrow-input"
                            pattern="^[A-Za-zＡ-Ｚａ-ｚ]{2}\s*(-\s*)?[0-9０-９]{2}$"
                            @input="n.text = formatUppercase($event.target.value)">
                        <div class="invalid-message">アルファベット2文字と数字2桁で入力してください</div>
                        <input
                            type="color"
                            v-model="n.color">
                        <button @click="sta.numberings.splice(i, 1)" :disabled="sta.numberings.length <= 1">削除</button>                        
                    </label>
                </section>
                <section>
                    <h2>右駅{{branchRight? " 上" : ""}}</h2>
                    <label>
                        <div class="label-text">駅名 日本語(漢字)</div>
                        <input
                            type="text"
                            v-model="rightStations[0].name.kanji">
                    </label>
                    <label>
                        <div class="label-text">駅名 英語(アルファベット)</div>
                        <input
                            type="text"
                            v-model="rightStations[0].name.english">
                        <div class="ex-input grid">
                            <div v-for="c in macrons" @click="rightStations[0].name.english += c">{{c}}</div>
                        </div>
                    </label>
                    <label>
                        <div class="label-text">この方面への帯の色</div>
                        <input
                            type="color"
                            v-model="rightStations[0].lineColor">
                    </label>
                    <label>
                        <input
                            type="checkbox"
                            v-model="rightStations[0].go">
                        <span class="toggle"></span>
                        この方面へ向かう列車がある
                    </label>
                    <template v-if="numbering && rightStations[0].go">
                        <button @click="rightStations[0].numberings.push({text: 'JX 00', color: '#006400'})" :disabled="2 <= rightStations[0].numberings.length">ナンバリングを追加</button>
                        <div  v-for="(n, i) in rightStations[0].numberings">
                            <label class="inline">
                                <div class="label-text">ナンバリング{{i + 1}}</div>
                                <input
                                    type="text"
                                    v-model="n.text"
                                    class="narrow-input"
                                    pattern="^[A-Za-zＡ-Ｚａ-ｚ]{2}\s*(-\s*)?[0-9０-９]{2}$"
                                    @input="n.text = formatUppercase($event.target.value)">
                                <div class="invalid-message">アルファベット2文字と数字2桁で入力してください</div>
                            </label>
                            <label class="inline">
                                <input
                                    type="color"
                                    v-model="n.color">
                            </label>
                            <button @click="rightStations[0].numberings.splice(i, 1)">削除</button>
                        </div>
                    </template>
                </section>
                <section v-if="branchRight">
                    <h2>右駅 下</h2>
                    <label>
                        <div class="label-text">駅名 日本語(漢字)</div>
                        <input
                            type="text"
                            v-model="rightStations[1].name.kanji">
                    </label>
                    <label>
                        <div class="label-text">駅名 英語(アルファベット)</div>
                        <input
                            type="text"
                            v-model="rightStations[1].name.english">
                        <div class="ex-input grid">
                            <div v-for="c in macrons" @click="rightStations[1].name.english += c">{{c}}</div>
                        </div>
                    </label>
                    <label>
                        <div class="label-text">この方面への帯の色</div>
                        <input
                            type="color"
                            v-model="rightStations[1].lineColor">
                    </label>
                    <label>
                        <input
                            type="checkbox"
                            v-model="rightStations[1].go">
                        <span class="toggle"></span>
                        この方面へ向かう列車がある
                    </label>
                    <template v-if="numbering && rightStations[1].go">
                        <button @click="rightStations[1].numberings.push({text: 'JX 00', color: '#006400'})" :disabled="2 <= rightStations[1].numberings.length">ナンバリングを追加</button>
                        <div  v-for="(n, i) in rightStations[1].numberings">
                            <label class="inline">
                                <div class="label-text">ナンバリング{{i + 1}}</div>
                                <input
                                    type="text"
                                    v-model="n.text"
                                    class="narrow-input"
                                    pattern="^[A-Za-zＡ-Ｚａ-ｚ]{2}\s*(-\s*)?[0-9０-９]{2}$"
                                    @input="n.text = formatUppercase($event.target.value)">
                                <div class="invalid-message">アルファベット2文字と数字2桁で入力してください</div>
                            </label>
                            <label class="inline">
                                <input
                                    type="color"
                                    v-model="n.color">
                            </label>
                            <button @click="rightStations[1].numberings.splice(i, 1)">削除</button>
                        </div>
                    </template>
                </section>
                <section>
                    <h2>左駅{{branchLeft? " 上" : ""}}</h2>
                    <label>
                        <div class="label-text">駅名 日本語(漢字)</div>
                        <input
                            type="text"
                            v-model="leftStations[0].name.kanji">
                    </label>
                    <label>
                        <div class="label-text">駅名 英語(アルファベット)</div>
                        <input
                            type="text"
                            v-model="leftStations[0].name.english">
                        <div class="ex-input grid">
                            <div v-for="c in macrons" @click="leftStations[0].name.english += c">{{c}}</div>
                        </div>
                    </label>
                    <label>
                        <div class="label-text">この方面への帯の色</div>
                        <input
                            type="color"
                            v-model="leftStations[0].lineColor">
                    </label>
                    <label>
                        <input
                            type="checkbox"
                            v-model="leftStations[0].go">
                        <span class="toggle"></span>
                        この方面へ向かう列車がある
                    </label>
                    <template v-if="numbering && leftStations[0].go">
                        <button @click="leftStations[0].numberings.push({text: 'JX 00', color: '#006400'})" :disabled="2 <= leftStations[0].numberings.length">ナンバリングを追加</button>
                        <div  v-for="(n, i) in leftStations[0].numberings">
                            <label class="inline">
                                <div class="label-text">ナンバリング{{i + 1}}</div>
                                <input
                                    type="text"
                                    v-model="n.text"
                                    class="narrow-input"
                                    pattern="^[A-Za-zＡ-Ｚａ-ｚ]{2}\s*(-\s*)?[0-9０-９]{2}$"
                                    @input="n.text = formatUppercase($event.target.value)">
                                <div class="invalid-message">アルファベット2文字と数字2桁で入力してください</div>
                            </label>
                            <label class="inline">
                                <input
                                    type="color"
                                    v-model="n.color">
                            </label>
                            <button @click="leftStations[0].numberings.splice(i, 1)">削除</button>
                        </div>
                    </template>
                </section>
                <section v-if="branchLeft">
                    <h2>左駅 下</h2>
                    <label>
                        <div class="label-text">駅名 日本語(漢字)</div>
                        <input
                            type="text"
                            v-model="leftStations[1].name.kanji">
                    </label>
                    <label>
                        <div class="label-text">駅名 英語(アルファベット)</div>
                        <input
                            type="text"
                            v-model="leftStations[1].name.english">
                        <div class="ex-input grid">
                            <div v-for="c in macrons" @click="leftStations[1].name.english += c">{{c}}</div>
                        </div>
                    </label>
                    <label>
                        <div class="label-text">この方面への帯の色</div>
                        <input
                            type="color"
                            v-model="leftStations[1].lineColor">
                    </label>
                    <label>
                        <input
                            type="checkbox"
                            v-model="leftStations[1].go">
                        <span class="toggle"></span>
                        この方面へ向かう列車がある
                    </label>
                    <template v-if="numbering && leftStations[1].go">
                        <button @click="leftStations[1].numberings.push({text: 'JX 00', color: '#006400'})" :disabled="2 <= leftStations[1].numberings.length">ナンバリングを追加</button>
                        <div  v-for="(n, i) in leftStations[1].numberings">
                            <label class="inline">
                                <div class="label-text">ナンバリング{{i + 1}}</div>
                                <input
                                    type="text"
                                    v-model="n.text"
                                    class="narrow-input"
                                    pattern="^[A-Za-zＡ-Ｚａ-ｚ]{2}\s*(-\s*)?[0-9０-９]{2}$"
                                    @input="n.text = formatUppercase($event.target.value)">
                                <div class="invalid-message">アルファベット2文字と数字2桁で入力してください</div>
                            </label>
                            <label class="inline">
                                <input
                                    type="color"
                                    v-model="n.color">
                            </label>
                            <button @click="leftStations[1].numberings.splice(i, 1)">削除</button>
                        </div>
                    </template>
                </section>
                <section>
                    <h2>特定都区市内表記</h2>
                    <button @click="cityNotations.push({text: '', fill: true})">追加</button>
                    <template v-for="(n, i) in cityNotations">
                        <div>
                            <label class="inline">
                                <div class="label-text">文字</div>
                                <input
                                    type="text"
                                    class="narrow-input"
                                    v-model="n.text"
                                    pattern="^.$">
                                <div class="invalid-message">一文字で入力してください</div>
                            </label>
                            <label class="inline">
                                <input
                                    type="checkbox"
                                    v-model="n.fill">
                                <span class="toggle"></span>
                                塗りつぶす
                            </label>
                            <button @click="cityNotations.splice(i, 1)">削除</button>
                        </div>
                    </template>
                </section>
            </section>
        </section>

        <script src="https://unpkg.com/vue" defer></script>
        <script src="script.js" defer></script>
    </body>
</html>