<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <base href="index.html">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="JR東日本の駅名標風の画像を作ることができます。駅名はもちろん、ナンバリング・スリーレターコード・4ヶ国語表記や、隣駅の分岐、複数のラインカラー、帯の色、特定都区市内表記など、さまざまな項目を設定可能です。共有URL機能で作った駅名標を手軽に共有、改造できます。">
        <title>Sigene 駅名標ジェネレーター</title>
        <link rel="icon" type="image/svg+xml" href="favicon.svg">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:700&text=0123456789MS">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:700&text=ABDEFGHIJLMNOPQRSTUVWXYZ">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700&text=CK">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <header>
            <div class="header-flex">
                <h1><img src="header_logo.svg" alt="Sigene Beta"><small>駅名標ジェネレーター</small></h1>
                <ul>
                    <li><a href="index.html">Top</a></li>
                    <li><a href="about.html">About</a></li>
                </ul>
            </div>
        </header>
        <section id="canvasArea">
            <canvas id="canvas1" width="2250" height="600"></canvas>
            <div id="message">正しい形式で入力してください</div>
        </section>
        <form id="vm" class="form" v-cloak @change="update">
            <button @click.prevent="update" class="large-button">入力内容を反映</button>
            <section class="row">
                <section>
                    <button @click.prevent="reset() + update()">入力内容をリセット</button>
                    <button @click.prevent="saveAsPNG() + update()">画像として保存</button>
                    <div>
                        <button @click.prevent="share_url">共有URLを取得</button>
                        <input type="text" v-model="shareURL">
                        <button @click.prevent="copy(shareURL)">コピー</button>
                    </div>
                </section>
                <section>
                    <button @click.prevent="loadFont('japanese')" :disabled="fontLoad.japanese">日本語フォント(M+ 1p)をロードする(約700KB ～ 約1.6MB)</button>
                    <button @click.prevent="loadFont('chinese')" :disabled="fontLoad.chinese">中国語フォント(Noto Sans SC)をロードする(約1.5MB ～ 約2.2MB)</button>
                    <button @click.prevent="loadFont('korean')" :disabled="fontLoad.korean">韓国語フォントを(Noto Sans KR)ロードする(約1MB ～ 約2.1MB)</button>
                </section>
            </section>
            <!--<section class="row">
                <section>
                    <h2>駅名標タイプ</h2>
                    <label>
                        <div class="label-text">タイプ</div>
                        <select v-model="signType"> カンマは使用不可
                            <option value="jre-kanji">JR東日本 漢字主体</option>
                        </select>
                    </label>
                </section>
            </section>-->
            <section v-if="signType === 'jre-kanji'" class="row">
                <section>
                    <h2>駅名標設定</h2>
                    <label>
                        <div class="label-text">筐体タイプ</div>
                        <div class="input">
                            <select v-model="signBoard.type" @change="changeBoardType"> <!--カンマは使用不可-->
                                <option value="SE-6">SE-6型(LED)</option>
                                <option value="SE-7">SE-7型(LED)</option>
                                <option value="SE-8">SE-8型(LED)</option>
                            </select>
                        </div>
                    </label>
                    <label>
                        <input
                            type="checkbox"
                            v-model="signBoard.light"
                            :disabled="!enableBoardLight">
                        <span class="toggle"></span>
                        点灯する
                    </label>
                    <label>
                        <input
                            type="checkbox"
                            v-model="numbering">
                        <span class="toggle"></span>
                        ナンバリング・4ヶ国語表記
                    </label>
                    <label>
                        <input
                            type="checkbox"
                            v-model="branchRight">
                        <span class="toggle"></span>
                        右分岐
                    </label>
                    <label>
                        <input
                            type="checkbox"
                            v-model="branchLeft">
                        <span class="toggle"></span>
                        左分岐
                    </label>
                    <label>
                        <div class="label-text">黒として使う色</div>
                        <input type="color" v-model="black" list="blackList">
                    </label>
                </section>
                <section>
                    <h2>駅名{{numbering? "・ナンバリング" : ""}}</h2>
                    <label>
                        <div class="label-text">駅名 日本語(漢字)</div>
                        <input
                            type="text"
                            v-model="sta.name.kanji">
                    </label>
                    <label>
                        <div class="label-text">駅名 英語(アルファベット)</div>
                        <input
                            type="text"
                            v-model="sta.name.english">
                        <div class="ex-input grid">
                            <div v-for="c in macrons" @click="sta.name.english += c">{{c}}</div>
                        </div>
                    </label>
                    <label>
                        <div class="label-text">駅名 日本語(ひらがな)</div>
                        <input
                            type="text"
                            v-model="sta.name.kana">
                    </label>
                    <label v-if="numbering">
                        <div class="label-text">駅名 中国語(簡体字)</div>
                        <input
                            type="text"
                            v-model="sta.name.chinese">
                        <div class="ex-input">
                            <a target="_blank" :href="'https://translate.google.com/?hl=ja#ja/zh-CN/' + encodeURIComponent(sta.name.kanji)">Google翻訳を開く</a>
                        </div>
                    </label>
                    <label v-if="numbering">
                        <div class="label-text">駅名 韓国語(ハングル)</div>
                        <input
                            type="text"
                            v-model="sta.name.korean">
                        <div class="ex-input">
                            <a target="_blank" :href="'https://translate.google.com/?hl=ja#ja/ko/' + encodeURIComponent(sta.name.kanji)">Google翻訳を開く</a>
                        </div>
                    </label>
                    <label v-if="numbering">
                        <input
                            type="checkbox"
                            v-model="sta.enableTlc"
                            @change="sta.enableTlc && sta.numberings.length < 1? sta.numberings.push({text: 'JX 00', color: '#006400'}) : 0">
                        <span class="toggle"></span>
                        スリーレターコードあり
                    </label>
                    <label v-if="numbering && sta.enableTlc">
                        <div class="label-text">スリーレターコード文字</div>
                        <input
                            type="text"
                            v-model="sta.tlc"
                            pattern="^[A-ZＡ-Ｚ]{3}$"
                            @input="sta.tlc = formatUppercase($event.target.value)">
                        <div class="invalid-message">アルファベット3文字で入力してください</div>
                    </label>
                    <button v-if="numbering" @click.prevent="sta.numberings.push({text: 'JX 00', color: '#006400'}) + update()" :disabled="2 <= sta.numberings.length">ナンバリングを追加</button>
                    <div class="label" v-for="(n, i) in sta.numberings" v-if="numbering">
                        <div class="label-text">ナンバリング{{i + 1}}</div>
                        <input
                            type="text"
                            v-model="n.text"
                            class="narrow-input"
                            pattern="^[A-Za-zＡ-Ｚａ-ｚ]+\s*(-\s*)?[0-9０-９]{2,}$"
                            @input="n.text = formatUppercase($event.target.value)">
                        <div class="invalid-message">アルファベット1文字以上と数字2桁以上で入力してください</div>
                        <input type="color" v-model="n.color" list="numberingColorList">
                        <button @click.prevent="sta.numberings.splice(i, 1) + update()" :disabled="sta.enableTlc && sta.numberings.length <= 1">削除</button>                        
                    </div>
                </section>
                <section>
                    <h2>左駅{{branchLeft? " 上" : ""}}</h2>
                    <label>
                        <div class="label-text">駅名 日本語(漢字)</div>
                        <input
                            type="text"
                            v-model="leftStations[0].name.kanji">
                    </label>
                    <label>
                        <div class="label-text">駅名 英語(アルファベット)</div>
                        <input
                            type="text"
                            v-model="leftStations[0].name.english">
                        <div class="ex-input grid">
                            <div v-for="c in macrons" @click="leftStations[0].name.english += c">{{c}}</div>
                        </div>
                    </label>
                    <label>
                        <div class="label-text">この方面への帯の色</div>
                        <input type="color" v-model="leftStations[0].lineColor">
                    </label>
                    <label>
                        <input
                            type="checkbox"
                            v-model="leftStations[0].go">
                        <span class="toggle"></span>
                        この方面へ向かう列車がある
                    </label>
                    <template v-if="numbering && leftStations[0].go">
                        <button @click.prevent="leftStations[0].numberings.push({text: 'JX 00', color: '#006400'}) + update()" :disabled="2 <= leftStations[0].numberings.length">ナンバリングを追加</button>
                        <div  v-for="(n, i) in leftStations[0].numberings">
                            <label class="inline">
                                <div class="label-text">ナンバリング{{i + 1}}</div>
                                <input
                                    type="text"
                                    v-model="n.text"
                                    class="narrow-input"
                                    pattern="^[A-Za-zＡ-Ｚａ-ｚ]+\s*(-\s*)?[0-9０-９]{2,}$"
                                    @input="n.text = formatUppercase($event.target.value)">
                                <div class="invalid-message">アルファベット1文字以上と数字2桁以上で入力してください</div>
                            </label>
                            <label class="inline">
                                <input type="color" v-model="n.color" list="numberingColorList">
                            </label>
                            <button @click.prevent="leftStations[0].numberings.splice(i, 1) + update()">削除</button>
                        </div>
                    </template>
                </section>
                <section v-if="branchLeft">
                    <h2>左駅 下</h2>
                    <label>
                        <div class="label-text">駅名 日本語(漢字)</div>
                        <input
                            type="text"
                            v-model="leftStations[1].name.kanji">
                    </label>
                    <label>
                        <div class="label-text">駅名 英語(アルファベット)</div>
                        <input
                            type="text"
                            v-model="leftStations[1].name.english">
                        <div class="ex-input grid">
                            <div v-for="c in macrons" @click="leftStations[1].name.english += c">{{c}}</div>
                        </div>
                    </label>
                    <label>
                        <div class="label-text">この方面への帯の色</div>
                        <input type="color" v-model="leftStations[1].lineColor">
                    </label>
                    <label>
                        <input
                            type="checkbox"
                            v-model="leftStations[1].go">
                        <span class="toggle"></span>
                        この方面へ向かう列車がある
                    </label>
                    <template v-if="numbering && leftStations[1].go">
                        <button @click.prevent="leftStations[1].numberings.push({text: 'JX 00', color: '#006400'}) + update()" :disabled="2 <= leftStations[1].numberings.length">ナンバリングを追加</button>
                        <div  v-for="(n, i) in leftStations[1].numberings">
                            <label class="inline">
                                <div class="label-text">ナンバリング{{i + 1}}</div>
                                <input
                                    type="text"
                                    v-model="n.text"
                                    class="narrow-input"
                                    pattern="^[A-Za-zＡ-Ｚａ-ｚ]+\s*(-\s*)?[0-9０-９]{2,}$"
                                    @input="n.text = formatUppercase($event.target.value)">
                                <div class="invalid-message">アルファベット1文字以上と数字2桁以上で入力してください</div>
                            </label>
                            <label class="inline">
                                <input type="color" v-model="n.color" list="numberingColorList">
                            </label>
                            <button @click.prevent="leftStations[1].numberings.splice(i, 1) + update()">削除</button>
                        </div>
                    </template>
                </section>
                <section>
                    <h2>右駅{{branchRight? " 上" : ""}}</h2>
                    <label>
                        <div class="label-text">駅名 日本語(漢字)</div>
                        <input
                            type="text"
                            v-model="rightStations[0].name.kanji">
                    </label>
                    <label>
                        <div class="label-text">駅名 英語(アルファベット)</div>
                        <input
                            type="text"
                            v-model="rightStations[0].name.english">
                        <div class="ex-input grid">
                            <div v-for="c in macrons" @click="rightStations[0].name.english += c">{{c}}</div>
                        </div>
                    </label>
                    <label>
                        <div class="label-text">この方面への帯の色</div>
                        <input type="color" v-model="rightStations[0].lineColor">
                    </label>
                    <label>
                        <input
                            type="checkbox"
                            v-model="rightStations[0].go">
                        <span class="toggle"></span>
                        この方面へ向かう列車がある
                    </label>
                    <template v-if="numbering && rightStations[0].go">
                        <button @click.prevent="rightStations[0].numberings.push({text: 'JX 00', color: '#006400'}) + update()" :disabled="2 <= rightStations[0].numberings.length">ナンバリングを追加</button>
                        <div  v-for="(n, i) in rightStations[0].numberings">
                            <label class="inline">
                                <div class="label-text">ナンバリング{{i + 1}}</div>
                                <input
                                    type="text"
                                    v-model="n.text"
                                    class="narrow-input"
                                    pattern="^[A-Za-zＡ-Ｚａ-ｚ]+\s*(-\s*)?[0-9０-９]{2,}$"
                                    @input="n.text = formatUppercase($event.target.value)">
                                <div class="invalid-message">アルファベット1文字以上と数字2桁以上で入力してください</div>
                            </label>
                            <label class="inline">
                                <input type="color" v-model="n.color" list="numberingColorList">
                            </label>
                            <button @click.prevent="rightStations[0].numberings.splice(i, 1) + update()">削除</button>
                        </div>
                    </template>
                </section>
                <section v-if="branchRight">
                    <h2>右駅 下</h2>
                    <label>
                        <div class="label-text">駅名 日本語(漢字)</div>
                        <input
                            type="text"
                            v-model="rightStations[1].name.kanji">
                    </label>
                    <label>
                        <div class="label-text">駅名 英語(アルファベット)</div>
                        <input
                            type="text"
                            v-model="rightStations[1].name.english">
                        <div class="ex-input grid">
                            <div v-for="c in macrons" @click="rightStations[1].name.english += c">{{c}}</div>
                        </div>
                    </label>
                    <label>
                        <div class="label-text">この方面への帯の色</div>
                        <input type="color" v-model="rightStations[1].lineColor">
                    </label>
                    <label>
                        <input
                            type="checkbox"
                            v-model="rightStations[1].go">
                        <span class="toggle"></span>
                        この方面へ向かう列車がある
                    </label>
                    <template v-if="numbering && rightStations[1].go">
                        <button @click.prevent="rightStations[1].numberings.push({text: 'JX 00', color: '#006400'}) + update()" :disabled="2 <= rightStations[1].numberings.length">ナンバリングを追加</button>
                        <div  v-for="(n, i) in rightStations[1].numberings">
                            <label class="inline">
                                <div class="label-text">ナンバリング{{i + 1}}</div>
                                <input
                                    type="text"
                                    v-model="n.text"
                                    class="narrow-input"
                                    pattern="^[A-Za-zＡ-Ｚａ-ｚ]+\s*(-\s*)?[0-9０-９]{2,}$"
                                    @input="n.text = formatUppercase($event.target.value)">
                                <div class="invalid-message">アルファベット1文字以上と数字2桁以上で入力してください</div>
                            </label>
                            <label class="inline">
                                <input type="color" v-model="n.color" list="numberingColorList">
                            </label>
                            <button @click.prevent="rightStations[1].numberings.splice(i, 1) + update()">削除</button>
                        </div>
                    </template>
                </section>
                <section>
                    <h2>特定都区市内表記</h2>
                    <button @click.prevent="cityNotations.push({text: '', fill: true}) + update()">追加</button>
                    <template v-for="(n, i) in cityNotations">
                        <div>
                            <label class="inline">
                                <div class="label-text">文字</div>
                                <input
                                    type="text"
                                    class="narrow-input"
                                    v-model="n.text"
                                    pattern="^.$">
                                <div class="invalid-message">一文字で入力してください</div>
                            </label>
                            <label class="inline">
                                <input
                                    type="checkbox"
                                    v-model="n.fill">
                                <span class="toggle"></span>
                                塗りつぶす
                            </label>
                            <button @click.prevent="cityNotations.splice(i, 1) + update()">削除</button>
                        </div>
                    </template>
                </section>
                <section>
                    <h2>ラインカラー</h2>
                    <button @click.prevent="routeColors.push('#000000') + update()">追加</button>
                    <template v-for="(n, i) in routeColors">
                        <div>
                            <label class="inline">
                                <div class="label-text">色</div>
                                <input type="color" v-model="routeColors[i]" list="routeColorList">
                            </label>
                            <button @click.prevent="routeColors.splice(i, 1) + update()">削除</button>
                        </div>
                    </template>
                </section>
            </section>
        </form>

        <datalist id="blackList">
            <option value="#1A1A1A"></option>
            <option value="#333333"></option>
        </datalist>
        <datalist id="numberingColorList">
            <option value="#F0862B"></option>
            <option value="#1069B4"></option>
            <option value="#1DAED1"></option>
            <option value="#B3CC36"></option>
            <option value="#DD6935"></option>
            <option value="#F2D01F"></option>
            <option value="#F18E41"></option>
            <option value="#14A676"></option>
            <option value="#1DAF7E"></option>
            <option value="#868587"></option>
            <option value="#D01827"></option>
            <option value="#DB2027"></option>
            <option value="#B1CB39"></option>
            <option value="#F2D01F"></option>
            <option value="#F2D01F"></option>
            <option value="#EB5A28"></option>
        </datalist>
        <datalist id="routeColorList">
            <option value="#80C241"></option>
            <option value="#00B48D"></option>
            <option value="#00B2E5"></option>
            <option value="#F15A22"></option>
            <option value="#FFD400"></option>
            <option value="#00B261"></option>
            <option value="#C9242F"></option>
            <option value="#F15A22"></option>
            <option value="#FFD400"></option>
            <option value="#FFD400"></option>
            <option value="#80C241"></option>
            <option value="#009793"></option>
            <option value="#A8A39D"></option>
            <option value="#F68B1E"></option>
            <option value="#007AC0"></option>
            <option value="#007AC0"></option>
            <option value="#00B9F1"></option>
            <option value="#DB4028"></option>
            <option value="#FFC20D"></option>
            <option value="#00B261"></option>
            <option value="#F15A22"></option>
            <option value="#C56E2E"></option>
            <option value="#880022"></option>
            <option value="#339966"></option>
        </datalist>

        <script src="vue.min.js" defer></script>
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lz-string/1.4.4/lz-string.min.js" defer></script>
        <script src="script.js" defer></script>
    </body>
</html>
