<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <base href="index.html">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Sigene 駅名標ジェネレーター</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
            <div class="header-flex">
                <h1><img src="logo_text_white.svg" alt="Sigene"> <small>駅名標ジェネレーター</small></h1>
                <ul>
                    <li><a href="index.html">Top</a></li>
                    <li><a href="about/index.html">About</a></li>
                    <li><a href="contact/index.html">Contact</a></li>
                </ul>
            </div>
        </header>
        <section class="canvas">
            <canvas id="canvas1"></canvas>
        </section>
        <section class="form">
            <section class="row">
                <section>
                    <h2>駅名標サイズ</h2>
                    <label>
                        <div class="label-text">幅</div>
                        <div class="input">
                            <input v-model="size.width" type="number">mm
                        </div>
                    </label>
                    <label>
                        <div class="label-text">高さ</div>
                        <div class="input">
                            <input v-model="size.height" type="number">mm
                        </div>
                    </label>
                </section>
                <section>
                    <h2>駅名標タイプ</h2>
                    <label>
                        <div class="label-text">タイプ</div>
                        <div class="input">
                            <select v-model="signType">
                                <option value="jre-kanji">JR東日本 漢字主体</option>
                            </select>
                        </div>
                    </label>
                </section>
            </section>
            <section class="row">
                <section v-for="form in generatorData[signType].forms">
                    <h2>{{form.title}}</h2>
                    <label v-for="content in form.contents">
                        <!-- text, number のとき -->
                        <template v-if="['text', 'number'].includes(content.type)">
                            <div class="label-text">{{content.label}}</div>
                            <div class="input">
                                <input
                                    :type="content.type"
                                    v-model="signData[content.model]">
                            </div>
                        </template>
                        <!-- toggle のとき -->
                        <template v-if="['toggle'].includes(content.type)">
                            <input type="checkbox" v-model="signData[content.model]">
                            <span class="toggle"></span>
                            {{content.label}}{{content.model}}
                        </template>
                    </label>
                </section>
            </section>
        </section>
        <script src="https://unpkg.com/vue" defer></script>
        <script type="application/json" id="generatorData">
        {
            "jre-kanji": {
                "forms": [
                    {
                        "title": "設定",
                        "contents": [
                            {"label": "ナンバリング・4ヶ国語表記", "type": "toggle", "model": "numbering", "value": true}
                        ]
                    },
                    {
                        "title": "駅名・ナンバリング",
                        "contents": [
                            {"label": "漢字", "type": "text", "model": "staNameKanji", "value": "東京"},
                            {"label": "英語", "type": "text", "model": "staNameEngligh", "value": "Tōkyō"},
                            {"label": "ひらがな", "type": "text", "model": "staNameKana", "value": "とうきょう"},
                            {"label": "中国語(簡体字)", "type": "text", "model": "staNameChinese", "value": "东京"},
                            {"label": "韓国語(ハングル)", "type": "text", "model": "staNameKorean", "value": "도쿄"},
                            {"if": "numbering", "label": "ナンバリング", "type": "text", "model": "numberingText", "value": "JY 01", "pattern": "^[A-Z]{2}\\s*[0-9]{2}$"}
                        ]
                    }
                ]
            }
        }
        </script>
        <script src="script.js" defer></script>
    </body>
</html>